html{
  background-color: aqua;
}

h3{
  text-align: center;
}

img{
  width: 100%;
}

a{
  margin-left: 2em;
  background-color: #343a40;
  padding: .2em;
  }

th>a{
  margin-left: 0em;
}

body{
  background-color: aqua;
}

.card{
  background-color: #343a40;
  color: white;
  margin: 4em;
}

.create{
  background-color: aqua;
  border: 10px solid black;
  box-shadow: 10px 5px 5px;
  padding:4%;
}
.login{
  background-color: aqua;
  border: 10px solid black;
  box-shadow: 10px 5px 5px;
  padding:4%;
  margin-left:4%;
}
card

Container{
  margin-top: 5%;
}

.viewUsersButton{
  margin-top:5%;
  float:left;
  margin-left: 5%;
}